<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}


<!- This is a replacement block for Body in base.html -->
{% block body %}
    <body style="color: #000000; "><h1 style="text-align: center">Favorite Books By Us!</h1>
    <a href="https://www.readanybook.com/online/634176" target="-blank" title="Harry potter">
    <h2>Harry Potter and the Philosopher's Stone</h2>
</a>
    </body>
    <td>

        <img id="mountainImage" class="img-responsive py-3" src="/static/assets/favorbook/Harry%20Potter%20and%20the%20Philosopher's%20Stone.gif" alt="" width="256" height="Auto">
        <button onclick="myFunction()">Grayscale</button><br><br>
        <script>
            function myFunction() {
                document.getElementById("mountainImage").style.filter = "grayscale(100%)";
            }
        </script>
    </td>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
    <style>
        body {
            background-image: repeating-linear-gradient(to bottom right, firebrick, yellowgreen, cadetblue, rgb(255, 122, 89));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
{% endblock %}