<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
{% extends "layouts/base.html" %}
{% set BITS = 8 %}
{% set MAX = ((2 ** BITS) - 1) %}


<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/assets/exciteddog.jpeg" %}
{% set imgBulbOff = "/static/assets/sleepingdog.jpeg" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

<title>Logic Gates</title>
{% block body %}
    <h1 class="text-center">Logic Gates Lab</h1>
    <h1 class="text-left">Inputs</h1>

    <button class="btn" type="submit">A</button><button class="btn" type="submit">B</button>
    <TABLE style="margin-left: 60%">
        <TR>
            <TD>Logic Gates</TD>
        <TR>
            <TD>Symbol</TD>
            <TD>Logic Gate</TD>
            <TD>Result</TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/and.png" style="height: 100px" alt=""></TD>
            <TD>And Gate</TD>
            <TD><p id="and">My First Paragraph.</p></TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/nand.png" style="height: 100px" alt=""></TD>
            <TD>Nand Gate</TD>
            <TD><TD><p id="nand">My First Paragraph.</p></TD></TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/or.png" style="height: 100px" alt=""></TD>
            <TD>Or Gate</TD>
            <TD><p id="or">My First Paragraph.</p></TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/nor.png" style="height: 100px" alt=""></TD>
            <TD>Nor Gate</TD>
            <TD><TD><p id="nor">My First Paragraph.</p></TD></TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/xor.png" style="height: 100px" alt=""></TD>
            <TD>Xor Gate</TD>
            <TD><p id="xor">My First Paragraph.</p></TD>
        </TR>
        <TR>
            <TD><img src="/static/assets/logic/not.jpg" style="height: 100px" alt=""></TD>
            <TD>Inverter(Not Gate)</TD>
            <TD><p id="not">My First Paragraph.</p></TD>
        </TR>
    </TABLE>
<script>
    document.getElementById("and").innerHTML = 1 & 0;
    document.getElementById("or").innerHTML = 1 | 0;
    document.getElementById("xor").innerHTML = 1 ^ 0;
    document.getElementById("not").innerHTML = ~ 1;
    document.getElementById("nand").innerHTML = 1 >>> 0;
    document.getElementById("nor").innerHTML = 1 >> 0;
</script>
{% endblock %}



<!- This is turning off birds background from base.html -->
{% block background %}
    <style>
        body {
            background-image: repeating-linear-gradient(to bottom right, saddlebrown, sandybrown, tan, rgb(255, 122, 89));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
{% endblock %}