<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href="/yolanda">Yolanda</a>
            <a class="nav-link" href="/stanley">Stanley</a>
            <a class="nav-link" href="/tianbin">Tianbin</a>
            <a class="nav-link" href="/justin">Justin</a>
            <a class="nav-link" href="/minilab">Minilab</a>
            <a class="nav-link" href="/binary">Binary</a>
        </div>
    </div>
</nav>