<!-- Extending the predefined project layout -->
<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}


<!- This is a replacement block for Body in base.html -->

<!- Try building a new body here ->
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>reviews</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/video_style.css">

{% block body %}
<div id="video_wrapper">

  <video autoplay muted loop>
    <source src="/static/assets/output.mp4" type="video/mp4">
  </video>

  {% include "layouts/navbar1.html" %}
  <div id="wrapper">
      <script async src="https://cse.google.com/cse.js?cx=7f6c492b5f793ed80"></script>
      <div class="gcse-search"></div>
        <a href="https://libgen.rs/" target="-blank" title="Library Genesis">
          <img src="/static/assets/bookwebsitelogo/Library%20Genesis.png" alt="">
        </a>
        <a href="https://www.gutenberg.org/" target="-blank" title="gutenberg">
          <img src="/static/assets/bookwebsitelogo/pg-logo-129x80.png" alt="">
        </a>
        <a href="https://www.planetebook.com/" target="-blank" title="planetebook">
          <img src="/static/assets/bookwebsitelogo/planetebook.png" alt="">
        </a>
        <a href="https://www.hathitrust.org/" target="-blank" title="hathitrust">
          <img src="/static/assets/bookwebsitelogo/hathitrust.png" alt="">
        </a>
        <a href="https://www.getfreeebooks.com/" target="-blank" title="getfreeebooks">
          <img src="/static/assets/bookwebsitelogo/getfreeebooks-logo-icon.png" alt="">
        </a>
  </div>
</div>

{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

