<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}


<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/tianbin" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <div class="col-12">
            <img src="background.jpg" style="height: 400px" alt="">
        </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LWks-W3vpBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://docs.google.com/document/d/e/2PACX-1vTPHwsKDSnm_52eRQsbP594u8AANQ9ztaCnkv41L0EZgLO9xV4WMPZmCU_g7jxthXgfu5jhC8nRWFXV/pub?embedded=true"allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://docs.google.com/document/d/e/2PACX-1vTHBa6BcJvQZPTZqKcnazGUEXQBTYaJX6wxm1qv_8OY7sZfqXvz_YFz0buaHmh5je1CIwKfMOostMIi/pub?embedded=true"></iframe>
    <iframe width="560" height="315" src="https://docs.google.com/document/d/e/2PACX-1vQzTTlJjcjKXwzPbQDPVnL7d9ioRsrkoEovCga1d3Z_hGAUT1snIDxILdPCa30WMURTzTJRhB4hOcxC/pub?embedded=true"></iframe>

    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
<style>
    body {
        background-image: repeating-linear-gradient(to bottom right, dodgerblue, darkorange);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
{% endblock %}
